// COLORS
$color-text-grey : #707070;
$color-text-green : #73A421;

$color-grey-light-1 : #f8f8f8;

$color-grey-light-2 : #eee;
$color-grey-light-3 : #edeeed;

$color-primary : #777;
$color-primary-light : #171a1a;
$color-primary-dark : #0b0c0d;

$color-green-light-1 : #75a522;
$color-green-light-2 : #73A421;
$color-green-light-3 : #387f11;

$color-red-light-1 : #E80000;

// FONT
$default-font-size : 1.6rem;


// FONT
$box-top-depth : 5%;
$box-bottom-left-depth : 90%;
$box-bottom-right-depth : 90%;

// SIZES
$size-big : 50px;
$size-medium-1 : 45px;
$size-medium-2 : 40px;
$size-small-1 : 35px;
$size-small-2 : 30px;
$size-tiny-1 : 14px;
$size-tiny-2 : 20px;


// SCREEN SIZES - max
$mobile : 411px; // Galaxy, iphone, pixel 2
$ipad : 768px;
$ipadPro : 1024px;

$col-1 : 610px;
$col-2 : 896px;
$col-3 : 1182px;
$col-4 : 1466px;

$color-white : #fff;
$color-black : #000;

$color-black-dark : #0b0c0d;
$color-black-light : #171a1a;

// FONT
$default-font-size : 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 0rem;
$gutter-horizontal : 2rem;