html, body {
  margin: 0;
  font-size: 10px;
  font-family: "Open Sans", "Sans serif";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@import "abstracts/variables";

@import "layout/grid";

@import "base/utilities";

@import "components/style";

@import "components/forms";

@import "components/switch";

@import "base/typography";

@import "components/energy";








